name: Build and publish Docker image

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
        - name: Set lowercase owner env
          run: |
            # extract owner from GITHUB_REPOSITORY and lowercase it for valid docker tags
            echo "OWNER=$(echo \"$GITHUB_REPOSITORY\" | cut -d'/' -f1 | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and push
          uses: docker/build-push-action@v4
          with:
            push: true
            tags: |
              ghcr.io/${{ env.OWNER }}/fastapi-docker-ci-cd:latest
              ghcr.io/${{ env.OWNER }}/fastapi-docker-ci-cd:${{ github.sha }}
